{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Computec<br />
    Avenida Arco-Iris, 555<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 9 4578-6532
    0800 777 2534
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@Computec.com.br">Suporte@Computec.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Computec.com.br">Marketing@Computec.com.br</a>
</address>

{% endblock %}
